<%@recipe_entries.each do |recipe|%>
   <h4> <a href="/recipes/<%=recipe.id%>"> <%=recipe.title%></a></h4>
    
    <h6>By. <%=recipe.user.name%>
    </h6>
    <h6>Created at. <%=recipe.formatted_created_at%>
    </h6>
   <br>
<%end%>