<h1> create your stufff </h1>

<form action="/recipes" method="post">
    <label for="title">Title:</label>
        <br>    
    <input type="text" name="title">
        <br>
    <label for="ingredients">Ingredients:</label>
        <br>
    <textarea name="directions" rows="15" cols="40" wrap="physical"></textarea>
        <br>
    <label for="directions">Directions:</label>
        <br>
    <textarea name="directions" rows="20" cols="40" wrap="physical"></textarea>
</form>